In [8]:
import pandas as pd

data = pd.read_csv('seed_scores.csv')
data.head()

   North  1  0.4166666666666667
0  North  2            0.363636
1  North  3            0.300000
2  North  4            0.222222
3  North  5            0.125000
4  North  6            0.142857

In [9]:
average_scores = data.groupby(data.columns[1])[data.columns[2]].mean()
average_scores

1
1     0.421168
2     0.377523
3     0.344300
4     0.315972
5     0.286500
6     0.257036
7     0.217875
8     0.183350
9     0.125875
10    0.038667
11    0.004500
12    0.000500
Name: 0.4166666666666667, dtype: float64